PORT=4000
MONGODB_URI=mongodb://localhost:27017/campusconnect
JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN
REFRESH_TOKEN_EXPIRES_IN=7d
INITIAL_ADMIN_EMAIL=YOUR_EMAIL
INITIAL_ADMIN_PASSWORD=YOUR_PASSWORD
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

